### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(purchase_data)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
number_of_players=heroes_df["Purchase ID"].count()

players_df=pd.DataFrame([{"Number of Players":number_of_players}])
players_df

heroes_df["SN"].nunique()
# player_count_df= players_df.iloc (0,0)
# player_count_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
uniqueitems=heroes_df["Item ID"].nunique()
avgprice=heroes_df["Price"].mean()
TotalPurch=heroes_df["Price"].count()
TotalRev=heroes_df["Price"].sum()
Purch_Analysis=pd.DataFrame([
    {"Unique Items":uniqueitems,"Average Price":avgprice,
     "Total Number of Purchase":TotalPurch,"Total Revenue":TotalRev}])
Purch_Analysis["Average Price"]=Purch_Analysis["Average Price"].map("${:.2f}".format)
Purch_Analysis["Total Revenue"]=Purch_Analysis["Total Revenue"].map("${:.2f}".format)
Purch_Analysis

  Average Price  Total Number of Purchase Total Revenue  Unique Items
0         $3.05                       780      $2379.77           183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
new_gend=heroes_df.groupby(['SN', 'Gender']).size().sort_values(ascending=False).reset_index(name='count').drop_duplicates(subset='SN')
new_gend
gend_count=new_gend['Gender'].value_counts()
gend_count
total=new_gend['Gender'].count()
total
perc_gend=gend_count/total

value_gend=pd.DataFrame(gend_count)

value_gend["Percent of Total"]=perc_gend
value_gend["Total"]=total
value_gend["Percent of Total"]=value_gend["Percent of Total"].map("{:.2%}".format)

value_gend
# print(heroes_df["Item ID"].describe())

                       Gender Percent of Total  Total
Male                      484           84.03%    576
Female                     81           14.06%    576
Other / Non-Disclosed      11            1.91%    576


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
gender_group=heroes_df.groupby(["Gender"])

items_purchased=gender_group["Item ID"].count()
avg_price=gender_group["Price"].mean()
purch_value=gender_group["Price"].sum()
#average purchase per person uses the gender count from above to calculate
avg_purch_per_person=gender_group["Price"].sum()/(gend_count)
purch_gend=pd.DataFrame(items_purchased)
purch_gend["Average Purchase Price"]=avg_price
purch_gend["Total Purchase Value"]=purch_value
purch_gend["Avg Total Purchase per Person"]=avg_purch_per_person
purch_gend=purch_gend.rename(columns={"Item ID":"Purchase Count"})
purch_gend
# item_group=gender_group["Item Name"].count()
# item_group

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [105]:
bins = [0,10,15,20,25,30,35,40,46]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#create table to show unique users and their age
users_age=heroes_df.groupby(['SN', 'Age']).size().sort_values(ascending=False).reset_index(name='count').drop_duplicates(subset='SN')
age_count=users_age["Age"].value_counts()

users_age["Age Groups"]=pd.cut(users_age["Age"],bins, labels=group_names)

age_bins=users_age["Age Groups"].value_counts()
age_perc=age_bins/total

age_df=pd.DataFrame(age_bins)
age_df=age_df.reindex(["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
age_df["Percentage of Players"]=age_perc
age_df["Percentage of Players"]=age_df["Percentage of Players"].map("{:.2%}".format)

age_df=age_df.rename(columns={"Age Groups":"Percentage of Players"})

      Percentage of Players Percentage of Players
<10                      24                 4.17%
10-14                    41                 7.12%
15-19                   150                26.04%
20-24                   232                40.28%
25-29                    59                10.24%
30-34                    37                 6.42%
35-39                    26                 4.51%
40+                       7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [165]:
bins = [0,10,15,20,25,30,35,40,46]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#create table to show unique users and their age
heroes_df1=heroes_df
heroes_df1["Age Groups"]=pd.cut(heroes_df["Age"],bins, labels=group_names)
total_age_bin=heroes_df1["Age Groups"].value_counts()
age_group1=heroes_df1[["Purchase ID", "SN", "Price","Age","Age Groups"]]
#average purchase price
price1= age_group1.groupby("Age Groups").mean()
#total purchase value
price2= age_group1.groupby("Age Groups").sum()
#average total purchase per person
avg_purch_per_user=price2["Price"]/total_age_bin

price1_v=price1["Price"]
age_purch_analysis=pd.DataFrame(price1_v)
age_purch_analysis=age_purch_analysis.rename(columns={"Price":"Average Purchase Price"})
age_purch_analysis["Purchase Count"]=total_age_bin
age_purch_analysis["Total Purchase Value"]=price2["Price"]
age_purch_analysis["Avg Total Purchase Per Person"]=avg_purch_per_user
age_purch_analysis["Average Purchase Price"]=age_purch_analysis["Average Purchase Price"].map("${:.2f}".format)
age_purch_analysis["Total Purchase Value"]=age_purch_analysis["Total Purchase Value"].map("${:.2f}".format)
age_purch_analysis["Avg Total Purchase Per Person"]=age_purch_analysis["Avg Total Purchase Per Person"].map("${:.2f}".format)

age_purch_analysis

,Average Purchase Price,Purchase Count,Total Purchase Value,Avg Total Purchase Per Person
Age Groups,,,,
<10,$3.40,32,$108.96,$3.40
10-14,$2.90,54,$156.60,$2.90
15-19,$3.11,200,$621.56,$3.11
20-24,$3.02,325,$981.64,$3.02
25-29,$2.88,77,$221.42,$2.88
30-34,$2.99,52,$155.71,$2.99
35-39,$3.40,33,$112.35,$3.40
40+,$3.08,7,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [216]:
top_spend=heroes_df[["SN","Item ID","Price"]]
top_spend2=top_spend.groupby(['SN'])['Price'].agg('sum')
top_spend2=top_spend2.sort_values(ascending=False)
top_spend3=top_spend2.head()
top_spend3
merge_table=pd.merge(top_spend3,heroes_df,on="SN",how="inner")

top_item_count=merge_table["SN"].value_counts()
avg_purch_price=top_spend3/top_item_count
avg_purch_price
top_spend4=pd.DataFrame(top_spend3)
top_spend4["Purchase Count"]=top_item_count
top_spend4["Average Purchase Price"]=avg_purch_price
top_spend4=top_spend4.rename(columns={"Price":"Total Purchase Value"})
top_spend4["Total Purchase Value"]=top_spend4["Total Purchase Value"].map("${:.2f}".format)
top_spend4["Average Purchase Price"]=top_spend4["Average Purchase Price"].map("${:.2f}".format)
top_spend4

            Total Purchase Value  Purchase Count Average Purchase Price
SN
Lisosia93                 $18.96               5                  $3.79
Idastidru52               $15.45               4                  $3.86
Chamjask73                $13.83               3                  $4.61
Iral74                    $13.62               4                  $3.40
Iskadarya95               $13.10               3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [302]:
pop_items=heroes_df[["Item ID","Item Name","Price"]]
pop_items_group=pop_items.groupby(["Item ID","Item Name"])
pop_it_purch_val=pop_items_group["Price"].sum()
pop_it_purch_val
pop_it_count=pop_items_group["Item ID"].count()
pop_it_count
pop_df=pd.DataFrame(pop_it_purch_val)
pop_df["Purchase Count"]=pop_it_count
pop_df=pop_df.rename(columns={"Price":"Total Purchase Value"})
pop_df=pop_df.sort_values("Purchase Count",ascending=False)
pop_df.head()



# pop_price2=pop_items_group[["Item Name","Price"]].nunique()
# pop_price2
# merged2=pd.merge(pop_items,pop_price2, on="Item ID", how="left")
# merged2

,,Total Purchase Value,Purchase Count
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12
145,Fiery Glass Crusader,41.22,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,9
82,Nirvana,44.10,9
19,"Pursuit, Cudgel of Necromancy",8.16,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [303]:
pop_df=pop_df.sort_values("Total Purchase Value",ascending=False)
pop_df.head()

,,Total Purchase Value,Purchase Count
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12
82,Nirvana,44.10,9
145,Fiery Glass Crusader,41.22,9
92,Final Critic,39.04,8
103,Singed Scalpel,34.80,8