### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(purchase_data)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
number_of_players=heroes_df["Purchase ID"].count()

players_df=pd.DataFrame([{"Number of Players":number_of_players}])
players_df

heroes_df["SN"].nunique()
# player_count_df= players_df.iloc (0,0)
# player_count_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
uniqueitems=heroes_df["Item ID"].nunique()
avgprice=heroes_df["Price"].mean()
TotalPurch=heroes_df["Price"].count()
TotalRev=heroes_df["Price"].sum()
Purch_Analysis=pd.DataFrame([
    {"Unique Items":uniqueitems,"Average Price":avgprice,
     "Total Number of Purchase":TotalPurch,"Total Revenue":TotalRev}])
Purch_Analysis["Average Price"]=Purch_Analysis["Average Price"].map("${:.2f}".format)
Purch_Analysis["Total Revenue"]=Purch_Analysis["Total Revenue"].map("${:.2f}".format)
Purch_Analysis

  Average Price  Total Number of Purchase Total Revenue  Unique Items
0         $3.05                       780      $2379.77           183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
new_gend=heroes_df.groupby(['SN', 'Gender']).size().sort_values(ascending=False).reset_index(name='count').drop_duplicates(subset='SN')
new_gend
gend_count=new_gend['Gender'].value_counts()
gend_count
total=new_gend['Gender'].count()
total
perc_gend=gend_count/total

value_gend=pd.DataFrame(gend_count)

value_gend["Percent of Total"]=perc_gend
value_gend["Total"]=total
value_gend["Percent of Total"]=value_gend["Percent of Total"].map("{:.2%}".format)

value_gend
# print(heroes_df["Item ID"].describe())

                       Gender Percent of Total  Total
Male                      484           84.03%    576
Female                     81           14.06%    576
Other / Non-Disclosed      11            1.91%    576


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
gender_group=heroes_df.groupby(["Gender"])

items_purchased=gender_group["Item ID"].count()
avg_price=gender_group["Price"].mean()
purch_value=gender_group["Price"].sum()
#average purchase per person uses the gender count from above to calculate
avg_purch_per_person=gender_group["Price"].sum()/(gend_count)
purch_gend=pd.DataFrame(items_purchased)
purch_gend["Average Purchase Price"]=avg_price
purch_gend["Total Purchase Value"]=purch_value
purch_gend["Avg Total Purchase per Person"]=avg_purch_per_person
purch_gend=purch_gend.rename(columns={"Item ID":"Purchase Count"})
purch_gend
# item_group=gender_group["Item Name"].count()
# item_group

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [105]:
bins = [0,10,15,20,25,30,35,40,46]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#create table to show unique users and their age
users_age=heroes_df.groupby(['SN', 'Age']).size().sort_values(ascending=False).reset_index(name='count').drop_duplicates(subset='SN')
age_sum=users_age["Age"].value_counts()

users_age["Age Groups"]=pd.cut(users_age["Age"],bins, labels=group_names)

age_bins=users_age["Age Groups"].value_counts()
age_perc=age_bins/total

age_df=pd.DataFrame(age_bins)
age_df=age_df.reindex(["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
age_df["Percentage of Players"]=age_perc
age_df["Percentage of Players"]=age_df["Percentage of Players"].map("{:.2%}".format)

age_df=age_df.rename(columns={"Age Groups":"Percentage of Players"})
age_df

      Percentage of Players Percentage of Players
<10                      24                 4.17%
10-14                    41                 7.12%
15-19                   150                26.04%
20-24                   232                40.28%
25-29                    59                10.24%
30-34                    37                 6.42%
35-39                    26                 4.51%
40+                       7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame